body
{
	padding:0;
	margin:0;
	background-color:#DDCC88;
	font-size:12px;
	font-family: geneva, arial, helvetica, sans-serif; 
	background: #fff;
}
#luNorth {
    z-index:20 !important;
    overflow:visible !important;
    background-color: #FFF;
}
#luNorth .ui-layout-unit-content {
    overflow:visible !important;
    margin: 0;
    padding: 6px 6px 0px 6px;
    background-color: #FFF;
}
.logo {
	vertical-align: middle;
	width: 65px;
}
.menu {
	vertical-align: middle;
	padding: 0px;
	margin: 0;
	padding-left: 6px;
}
.menu {
	vertical-align: middle;
	padding: 0px;
	margin: 0;
	padding-left: 6px;
}
#luWest, #luEast {
	width: 0px;
	padding: 0px;
	margin:0px;
}
#luCenter .ui-layout-unit-content {
	padding: 6px;
}
#luSouth {
	overflow:visible !important;
	padding: 0;	
	border: none;
	font-size: 10px !important;
	color:#333333;	
}
#luSouth .ui-layout-unit-content {
	overflow:visible !important;
	border-top: 1px solid #CCC;
	background: #fff url("#{resource['img:footer.jpg']}") repeat-x;
    margin: 0;
    padding: 1px 6px 6px 6px;	
}


.noborder .ui-datalist-content { border: none; }
.noborder .ui-datalist-content .ui-datalist-data { margin: 0; padding: 0px; padding-left: 5px; list-style: none; }
.ui-datatable-footer .noborder,
.ui-datatable-footer .noborder td,
.ui-datatable table.noborder,
.ui-datatable .ui-datatable-data .noborder td,
.ui-datatable .ui-datatable-data .noborder td,
.ui-datatable .ui-datatable-data-empty .noborder td 
.ui-datatable .ui-datatable-data-empty .noborder td{ border-style: none; border-width: 0px; padding: 0; width: inherit; }

.form-menu {
	width: 100%;	
	padding: 0 0 5px 0;
	text-align: left;
}
.form-menu input {	
	margin-right: 5px;
}
.form-action, 
.form-action-border {
	width: 100%;
	text-align: right;			
}
.form-action button, .form-action input, .form-action form, 
.form-action-border button, .form-action-border input, .form-action-border form {
	margin-left: 5px;	
}
.form-action-border {
	margin-top: 10px;
	padding: 10px 0;
	border-top: 1px solid #CCC;
}
.action-left {
	padding: 0px;
	text-align: left;
}
.action-left button, 
.action-left input {
	margin-right: 5px;
}
.datatable-menu {
	width: 100%;	
	padding: 0 0 5px 0;
	text-align: left;
}
.datatable-menu input {	
	margin-right: 5px;
}
.col-label {
	font-weight: bold;
}
.col-action { width: 100px; text-align: center; margin: 0; padding: 0; }
.col-action input {
	vertical-align: bottom;
	margin: 0px 2px;
	padding: 0;	
}