package ${app.pkgs.dao};

import javax.persistence.EntityManager;

import ${app.pkgs.dao}.AppDAO;
import ${app.pkgs.model}.${entity.name};

public class ${entity.name}DAO extends AppDAO<${entity.name}, ${entity.attributeIdClass}> {

	public ${entity.name}DAO(EntityManager entityManager) {
		super(entityManager, ${entity.name}.class);
	}
}