<ui:composition template="/templates/default.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"    
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cc="http://java.sun.com/jsf/composite"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:p="http://primefaces.org/ui"> 
   	<ui:param name="pageTitle" value="List of ${entity.plural}" />
	<ui:define name="content">
		<h:form id="frm">			
			<p:dataTable
				id="dt${entity.plural}" 
				var="entity"
				lazy="true"
				value="#{${entity.nameFlc}ListCtrl.dm${entity.plural}}"
				paginator="true"
				paginatorPosition="bottom"
				paginatorTemplate="Items for page: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} Page: {JumpToPageDropdown} {NextPageLink} {LastPageLink} {CurrentPageReport}"
				currentPageReportTemplate="[ Showing {startRecord} - {endRecord} of {totalRecords} - Page: {currentPage}/{totalPages} ]"
				rows="10"
		        rowsPerPageTemplate="5,10,15,20,25,50">

				${listXhtmlComponent.renderColumns(4)}
				
				<p:column exportable="false" styleClass="col-action">
					<f:facet name="header"><h:outputText value="Action" /></f:facet>
					
					<p:button outcome="/pages/${entity.nameFlc}/${entity.nameFlc}View.jsf" title="View ${entity.nameFlc}" icon="ui-icon-zoomin">
						<f:param name="id" value="#{entity.id}" />
					</p:button>
					
					<p:button outcome="/pages/${entity.nameFlc}/${entity.nameFlc}Edit.jsf" title="Edit ${entity.nameFlc}" icon="ui-icon-pencil">
						<f:param name="id" value="#{entity.id}" />
					</p:button>
		        	
					<p:commandButton process="@this" oncomplete="PF('dlg${entity.name}Delete').show()" title="Delete ${entity.nameFlc}" icon="ui-icon-trash">
						<f:setPropertyActionListener target="#{${entity.nameFlc}ListCtrl.${entity.nameFlc}Selected}" value="#{entity}" />
		    		</p:commandButton>
		        </p:column>
				
				<f:facet name="footer">
		        	<p:outputPanel layout="block" styleClass="action-left">
		        		<p:button icon="ui-icon-document" value="New" outcome="/pages/car/carEdit.jsf" title="New Car" />
					</p:outputPanel>
		        </f:facet>				
			</p:dataTable>
		</h:form>
		
		<p:confirmDialog				
			appendTo="@(body)"
			modal="true"				
			message="Are you sure about delete the ${entity.nameFlc}?"
			header="Are you sure?" 
			severity="alert"
			widgetVar="dlg${entity.name}Delete">
			<h:form id="frmDelete">
				<p:commandButton value="Yes" icon="ui-icon-check" action="#{${entity.nameFlc}ListCtrl.delete}" process="@this" update=":frm:dt${entity.plural}" oncomplete="PF('dlg${entity.name}Delete').hide()" />
				<p:commandButton value="No" icon="ui-icon-close" onclick="PF('dlg${entity.name}Delete').hide();" type="button" />
			</h:form>
		</p:confirmDialog>
	</ui:define>
</ui:composition>
