package ${app.pkgs.controller};

import javax.enterprise.context.ConversationScoped;
import javax.inject.Inject;
import javax.inject.Named;

import ${app.pkgs.model}.${entity.name};
import com.github.cg.example.jsf.annotations.HandlesError;
import ${app.pkgs.dao}.${entity.name}DAO;
import com.github.cg.example.jsf.datamodel.LazyDataModelDefault;
import ${app.pkgs.manager}.${entity.name}Manager;
import com.github.cg.example.jsf.util.FacesMessageUtils;

@Named
@ConversationScoped
@HandlesError
public class ${entity.name}ListCtrl extends AppConversationCtrl {

	private static final long serialVersionUID = 1L;

	@Inject
	private ${entity.name}Manager ${entity.nameFlc}Manager;
	
	private ${entity.name} ${entity.nameFlc}Selected;
		
	private LazyDataModelDefault<${entity.name}DAO, ${entity.name}, ${entity.attributeIdClass}> dm${entity.pluralFvm}; 

	@Inject
    public void init(${entity.name}DAO ${entity.nameFlc}DAO) {
		dmCars = new LazyDataModelDefault<${entity.name}DAO, ${entity.name}, ${entity.attributeIdClass}>(${entity.nameFlc}DAO);
    }
    
	public void delete() throws Exception {
		
		this.${entity.nameFlc}Manager.delete(this.${entity.nameFlc}Selected);
		
		FacesMessageUtils.addInfo("The ${entity.name} was deleted successfully!");
	}
	
	public Car get${entity.name}Selected() {
		return ${entity.nameFlc}Selected;
	}

	public void set${entity.name}Selected(${entity.name} ${entity.nameFlc}Selected) {
		this.${entity.nameFlc}Selected = ${entity.nameFlc}Selected;
	}

	public LazyDataModelDefault<${entity.name}DAO,${entity.name},${entity.attributeIdClass}> getDm${entity.pluralFvm}() {
		return dm${entity.pluralFvm};
	}
}