package ${app.pkgs.controller}.frm;

#if( $entity.getAttributesManyToOne().size() > 0 
	or $jsfComponent.hasAttributeWithFormTypeSubFrmInTable( $entity )
	or $jsfComponent.hasAttributeWithFormTypeSubFrmExternalPage( $entity )  
   )
import javax.ejb.EJB;
#end

#if( $entity.getAttributesManyToOne().size() > 0 )
import java.util.List;
#end

#if( $entity.getAttributesOneToMany().size() > 0 )
import java.util.Collection;
import javax.annotation.PostConstruct;
#end

#if( $entity.getAttributesOneToMany().size() > 0 and $jsfComponent.hasAttributeWithFormTypeSubFrmInside( $entity ) )
import javax.inject.Inject;
#end

import javax.inject.Named;

import com.github.cg.example.jsf.annotations.HandlesError;
import ${app.pkgs.model}.${entity.name};
import ${app.pkgs.manager}.${entity.name}Manager;

#foreach( $attr in $entity.getAttributesManyToOne() )
import ${app.pkgs.model}.${attr.typeName};
import ${app.pkgs.manager}.${attr.typeName}Manager;
#end

#foreach( $attr in $entity.getAttributesOneToMany() )
import ${app.pkgs.model}.${attr.associationClassName};
#if( $jsfComponent.isFormTypeSubFrmInTable($attr.formType) or $jsfComponent.isFormTypeSubFrmExternalPage($attr.formType) )
import ${app.pkgs.manager}.${attr.associationClassName}Manager;
#elseif( $jsfComponent.isFormTypeSubFrmInside($attr.formType) )
import ${app.pkgs.controller}.frm.Frm${attr.associationClassName};
#end
#end

@Named
@HandlesError
public class Frm${entity.name} extends Frm<${entity.name}Manager,${entity.name},${entity.attributeIdClass}> {

	private static final long serialVersionUID = 1L;
#foreach( $attr in $entity.getAttributesManyToOne() )

	@EJB
	private ${attr.typeName}Manager ${attr.typeNameFlc}Manager;
#end
#foreach( $attr in $entity.getAttributesOneToMany() )

#if( $jsfComponent.isFormTypeSubFrmInTable($attr.formType) )
	@EJB
	private ${attr.associationClassName}Manager ${attr.associationClassNameFlc}Manager;
	private SubFrmInTable<Frm${entity.name},${entity.name},${attr.associationClassName}Manager,${attr.associationClassName}> subFrm${attr.nameFuc};
#elseif( $jsfComponent.isFormTypeSubFrmExternalPage($attr.formType) )
	@EJB
	private ${attr.associationClassName}Manager ${attr.associationClassNameFlc}Manager;
	private SubFrmExternalPage<Frm${entity.name},${entity.name},${attr.associationClassName}Manager,${attr.associationClassName}> subFrm${attr.nameFuc};
#elseif( $jsfComponent.isFormTypeSubFrmInside($attr.formType) )
	@Inject
	private Frm${attr.associationClassName} frm${attr.associationClassName};
	private SubFrmInside<Frm${entity.name},${entity.name},Frm${attr.associationClassName},${attr.associationClassName}> subFrm${attr.nameFuc};
#end
#end
#foreach( $attr in $entity.getAttributesManyToOne() )

	public List<${attr.typeName}> onComplete${attr.typeName}(String suggest) {
		return this.${attr.typeNameFlc}Manager.retrieveBySuggestOrderByDescription(suggest);
	}
#end
#if( $entity.getAttributesOneToMany().size() > 0 )

	@PostConstruct
	public void init() {
#foreach( $attr in $entity.getAttributesOneToMany() )

#if( $jsfComponent.isFormTypeSubFrmInTable($attr.formType) )
		this.subFrm${attr.nameFuc} = new SubFrmInTable<Frm${entity.name},${entity.name},${attr.associationClassName}Manager,${attr.associationClassName}>(this, this.${attr.associationClassNameFlc}Manager, "tbView:dt${attr.nameFuc}") {
#elseif( $jsfComponent.isFormTypeSubFrmExternalPage($attr.formType) )
		this.subFrm${attr.nameFuc} = new SubFrmExternalPage<Frm${entity.name},${entity.name},${attr.associationClassName}Manager,${attr.associationClassName}>(this, this.${attr.associationClassNameFlc}Manager, "tbView:dt${attr.nameFuc}") {
#elseif( $jsfComponent.isFormTypeSubFrmInside($attr.formType) )		
		this.subFrm${attr.nameFuc} = new SubFrmInside<Frm${entity.name},${entity.name},Frm${attr.associationClassName},${attr.associationClassName}>(this, this.frm${attr.associationClassName}, "tbView:dt${attr.nameFuc}") {
#end

			@Override
			public void connect(${attr.associationClassName} association, ${entity.name} entity) {
				association.set${attr.associationMappedByFuc}(entity);
			}

			@Override
			public Collection<${attr.associationClassName}> getAssociations(${entity.name} entity) {
				return entity.get${attr.nameFuc}();
			}
		};
#end
	}
#end
#foreach( $attr in $entity.getAttributesOneToMany() )

#if( $jsfComponent.isFormTypeSubFrmInTable($attr.formType) )
	public SubFrmInTable<Frm${entity.name},${entity.name},${attr.associationClassName}Manager,${attr.associationClassName}> getSubFrm${attr.nameFuc}() {
#elseif( $jsfComponent.isFormTypeSubFrmExternalPage($attr.formType) )
	public SubFrmExternalPage<Frm${entity.name},${entity.name},${attr.associationClassName}Manager,${attr.associationClassName}> getSubFrm${attr.nameFuc}() {	
#elseif( $jsfComponent.isFormTypeSubFrmInside($attr.formType) )		
	public SubFrmInside<Frm${entity.name},${entity.name},Frm${attr.associationClassName},${attr.associationClassName}> getSubFrm${attr.nameFuc}() {
#end
		return this.subFrm${attr.nameFuc};
	}
#end
}