package ${app.pkgs.controller};

import javax.enterprise.context.ConversationScoped;
import javax.faces.context.FacesContext;
import javax.faces.event.ComponentSystemEvent;
import javax.inject.Inject;
import javax.inject.Named;

import ${app.pkgs.model}.${entity.name};
import com.github.cg.example.jsf.annotations.HandlesError;
import ${app.pkgs.dao}.${entity.name}DAO;
import com.github.cg.example.jsf.util.FacesMessageUtils;

@Named
@ConversationScoped
@HandlesError
public class ${entity.name}ViewCtrl extends AppConversationCtrl {

	private static final long serialVersionUID = 1L;
		
	@Inject
	private ${entity.name}DAO ${entity.nameFlc}DAO;
		
	private ${entity.attributeIdClass} id;
	
	private ${entity.name} entity;
	
	public void start(ComponentSystemEvent evt) {
		if (!FacesContext.getCurrentInstance().isPostback() && !FacesContext.getCurrentInstance().isValidationFailed()) {
			if (getId() != null) { 
				entity = this.${entity.nameFlc}DAO.retrieveById(getId());			
			}			
			else {
				FacesMessageUtils.addError("${entity.name} not found!");
			}
		}
	}
	
	public ${entity.attributeIdClass} getId() {
		return id;
	}

	public void setId(${entity.attributeIdClass} id) {
		this.id = id;
	}

	public ${entity.name} getEntity() {
		return entity;
	}
}