package ${app.pkgs.controller};

import javax.enterprise.context.ConversationScoped;
import javax.faces.context.FacesContext;
import javax.faces.event.ComponentSystemEvent;
import javax.inject.Inject;
import javax.inject.Named;

import ${app.pkgs.model}.${entity.name};
import com.github.cg.example.jsf.annotations.HandlesError;
import ${app.pkgs.controller}.frm.Frm${entity.name};
import com.github.cg.example.jsf.util.FacesMessageUtils;

@Named
@ConversationScoped
@HandlesError
public class ${entity.name}EditCtrl extends AppConversationCtrl {

	private static final long serialVersionUID = 1L;

	private ${entity.attributeIdClass} id;
	
	@Inject
	private Frm${entity.name} frm;
	
	public void start(ComponentSystemEvent evt) throws Exception {
		if (!getFrm().isInsertingOrUpdating()) {
			if (getId() != null) {
				getFrm().startUpdateById(getId());			
			}
			else {
				getFrm().startInsert();
			}
		}
	}

	public void save() throws Exception {
		
		getFrm().save();		
		
		FacesMessageUtils.addInfo("The ${entity.label} was save successfully!");
	}
	
	public void reset() throws Exception {		
		getFrm().reset();
	}
	
	public ${entity.attributeIdClass} getId() {
		return id;
	}

	public void setId(${entity.attributeIdClass} id) {
		this.id = id;
	}

	public Frm${entity.name} getFrm() {
		return frm;
	}
}