<ui:composition template="/templates/default.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"    
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cc="http://java.sun.com/jsf/composite"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:p="http://primefaces.org/ui">
	<f:metadata>
		<f:viewParam name="id" value="#{${entity.nameFlc}ViewCtrl.id}" />
		<f:event type="preRenderView" listener="#{${entity.nameFlc}ViewCtrl.start}" />
	</f:metadata>
   	<ui:param name="pageTitle" value="View ${entity.name}" />
	<ui:define name="content">		
		<h:form id="frm">			
			<p:tabView id="tbView">
				<p:tab title="${entity.name}">
					<h:panelGrid columns="2" cellpadding="5">
#foreach( $attribute in $entity.getAttributesWithoutAttributesOneToMany() )
						
						<h:outputText value="${attribute.label}:" />
						${jsfComponent.renderOutputText(6, ${entity.nameFlc.concat('ViewCtrl.entity')}, $attribute)}
#end
						
					</h:panelGrid>
				</p:tab>
			</p:tabView>
			
			<p:outputPanel layout="block" styleClass="form-action-border">
				<p:button value="Back" icon="ui-icon-arrowreturnthick-1-w" outcome="/pages/${entity.nameFlc}/${entity.nameFlc}List.jsf" />
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>