package ${app.pkgs.manager};

import javax.ejb.Stateless;
import com.github.cg.example.core.manager.Manager;
import ${app.pkgs.dao}.${entity.name}DAO;
import ${app.pkgs.model}.${entity.name};

@Stateless
public class ${entity.name}Manager extends Manager<${entity.name}DAO, ${entity.name}, ${entity.attributeIdClass}> {

	private static final long serialVersionUID = 1L;
	
}